.App{
  background: linear-gradient(to bottom right, #032372, #010225);
}

html, body, App {
  height: 100%;
  margin: 0;
}

#App { /* This might be .App or another ID/class depending on your structure */
  display: flexbox;
  flex-direction: column;
  min-height: 100vh; /* Viewport height */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container{
  display: flexbox;
  column-gap: 8px;
}
header {
  background-color: #343a40;
  color: white;
  padding-bottom: 10px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #ffc107;
}

.nav {
  margin-bottom: 10px
}

.btn-danger {
  background-color: #dc3545;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333;
}

/* App.css */
.hero-section {
  padding-top: 50px;
  margin-bottom: 50px;

}

.fixtures-section{
  color: white;
}
.news-section{
  color: rgb(246, 246, 246);
  
}

.card {
  color: black;
}

.news-section .card {
  transition: transform 2.5s;
  width: 400px;
  
}

.news-section .card:hover {
  transform: translateY(-5px);
}

.fixture{
  background-color: #010225;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.latest-news{
  background: inherit;
}

.footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
}

footer a {
  color: white;
  margin: 2px;
}

footer a:hover {
  text-decoration: underline;
}
